
.left {
  position: absolute;
  left: 20%;
  top: 50%;
}
.left h1 {
  font-size: 45px;
}
.right {
  width: 400px;
  position: absolute;
  right: 1%;
  top: 60%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 25px 0 #aaa;
}

.resultsPanel {
  background-color: #858694;
  padding: 30px;
  text-align: right;
  color: #fff;
}

.buttons button {
  width: 100px;
  padding: 20px;
}

.buttons .double {
  width: 200px;
}

.buttons .x {
  background: linear-gradient(to bottom, rgba(252, 156, 23, 1) 0%, rgba(247, 126, 27, 1) 100%);
  transition: 0.5s;
}

.buttons .x:hover {
  background: linear-gradient(to bottom, rgba(252, 156, 23, 0.7) 0%, rgba(247, 126, 27, 0.7) 100%);
  color: #fff;
}
